.venv-airflow-ide/
.venv/
.env
**/.env
__pycache__/
*.pyc
.DS_Store

data/import/
data/export/
database/duckdb/
*.duckdb
*.duckdb.wal

dbt/oyster_dbt/target/
dbt/oyster_dbt/logs/
dbt/oyster_dbt/dbt_packages/
dbt/oyster_dbt/profiles/profiles.yml
dbt/oyster_dbt/profiles/.user.yml
logs/

.ipynb_checkpoints/
config/*.local.yml
